@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  transition: all 0.2s;
}

html {
  scroll-behavior: smooth;
}

.vertical-text {
  writing-mode: vertical-lr;
}

.sticky-header {
  animation: border-animation;
  animation-timeline: scroll();
}
@keyframes border-animation {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

/* animation: spin linear both;
animation-timeline: scroll(); */

.shiny-text {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

.dark .shiny-text {
  color: #060606a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.hero-button {
  animation: show-hero-button 3s ease-in;
}

@keyframes show-hero-button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebarEffect {
  position: relative;
  right: 100%;
}

/* Theme change */
@keyframes clipPathExpand {
  0% {
    clip-path: circle(0% at 100% 0%);
  }
  100% {
    clip-path: circle(150% at 100% 0%);
  }
}

/* Utilities */
.dark .animate-clip-expand {
  animation: clipPathExpand 0.5s ease-in-out;
}

.infinite-carousel {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: infinite-scroll 60s linear infinite;
}

.carousel-track > * {
  flex: 0 0 auto;
  width: 150px;
  margin-right: 10px;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
