@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  transition: all 0.2s;
}

.shiny-text {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

.dark .shiny-text {
  color: #060606a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.hero-button {
  animation: show-hero-button 3s ease-in;
}

@keyframes show-hero-button {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebarEffect {
  position: relative;
  right: 100%;
}
